.wrap-title {
    margin-top: 40px;
    margin-bottom: 40px;
}

.title {
    font-size: 28px;
    font-weight: 600;
}


.button {
    font-size: 14px;
    font-weight: 600;
    border: 1px var(--primary-color) solid;
    color: var(--primary-color);
}

.button:hover {
    background: var(--primary-color);
    color: white;
}

.payment-methods .item {
    margin: 20px 0;
}

img {
    width: 90px;
}

.title-item {
    font-size: 14px;
    font-weight: 600;
}

.date {
    font-size: 12px;
    font-weight: 500;
    color: var(--text-darkGrey);
}

.payment-methods .link {
    font-size: 12px;
    font-weight: 600;
    color: var(--gray-color-text);
    border: 1px var(--gray-color-text) solid;
}

span {
    font-size: 9px;
    font-weight: 700;
    background: rgb(255, 193, 7);
    color: black;
    padding: 4px;
    border-radius: 4px;
}