.navbar {
    padding: 12px 0;
}

.text {
    font-size: 14px;
    font-weight: 500;
    line-height: 31px;
}

.link {
    color: black;
    text-decoration: none;
}

.content {
    margin-top: 100px;
    margin-bottom: 60px;
}

.title {
    font-size: 28px;
    font-weight: 600;
}

.des, text {
    font-size: 14px;
    font-weight: 500;
    color: var(--text-darkGrey);
    margin-bottom: 40px;
}

.wrapInput {
    border-radius: 8px;
    border: 1px rgb(239, 240, 240) solid;
}

.wrapInput input{
    border-color: rgba(0, 0, 0, 0);
}

.icon {
    color: var(--text-darkGrey);
    margin-right: 18px;
    line-height: 36px;
}

.button {
    font-size: 14px;
    font-weight: 600;
    margin: 12px 0;
    color: white;
    width: 100%;
    background: var(--primary-color);
}

.button:hover {
    color: white;
    background: var(--primary-color-hover);
}

.text a {
    text-decoration: none;
    color: var(--primary-color);
}

text a:hover {
    color: var(--primary-color-hover);
}